@import "./variables";

.section-title {
    color: #000;
}

.who-we-are {
    margin-bottom: 2em;
}
  
.description {
    font-size: .9rem;
}
  
.why-choose-us {
    margin-bottom: 2em;
}

.animal-pics {
    // display: flex;
    // justify-content: space-around;
    // align-items: center;
    // text-align: center;
    margin-bottom: 2em;

    // .fa-chevron-left:hover, .fa-chevron-right:hover {
    //     cursor: pointer;
    // }


}